.payment-page{

max-width:700px;

margin:50px auto;

padding:20px;

}


.payment-box{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}


.payment-box h2{

margin-bottom:25px;

color:#d86b9a;

}



.payment-box label{

display:block;

padding:15px;

border:1px solid #eee;

border-radius:10px;

margin-bottom:15px;

cursor:pointer;

}



.payment-box input{

margin-right:10px;

}




.upi-input{

margin-top:20px;

display:flex;

gap:10px;

}



.upi-input input{

flex:1;

padding:12px;

border-radius:8px;

border:1px solid #ddd;

}



.upi-input button{

padding:12px 18px;

border:none;

background:#d86b9a;

color:white;

border-radius:8px;

}




.payment-total{

margin-top:30px;

padding:20px;

background:#fff7fb;

border-radius:12px;

}



.pay-btn{

width:100%;

margin-top:25px;

padding:15px;

border:none;

border-radius:10px;

background:#d86b9a;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

}